<template name="blabler">
  <form class="hey">
    <input id="question" name="question" type="text" placeholder="Votre question" required>
    <br>
    <p>Selectionner la bonne reponse avec le boutton radio</p>
    <input id="reponse1" name="reponse1" type="text" placeholder="Reponse 1" required>
    <input name="answer" value="0" type="radio" required>
    <br>
    <input id="reponse2" name="reponse2" type="text" placeholder="Reponse 2" required>
    <input name="answer" value="1" type="radio">
    <br>
    <input id="reponse3" name="reponse3" type="text" placeholder="Reponse 3" required>
    <input name="answer" value="2" type="radio">
    <button style="display: none"></button>
  </form>
</template>